<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="UGAL Map web application designed for 'Dunarea de Jos' of Galati"/>
    <meta name="author" content="Crystal-System" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>UGAL Map</title>
  </head>
  <body>
 		<div th:insert="header"></div>
 		<div th:insert="sidebarAdmin"></div>
  <div class="card shadow mb-4" style="margin-left: 18%">
    <div class="card-header py-3 card-header-bg">
      <h6 class="m-0 font-weight-bold table-title" style="text-align: center">
        USERS
      </h6>
    </div>
    <p style="color: red" th:if="${message}" th:text="${message}"></p>
    <div class="card-body">
      <div class="row">
        <div class="col-7">
			 <p style="text-align:center"><b >All Users</b></p> 
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                         <th style="display:none;">Password</th> 
                        <th>Active</th>
                        <th style="display: none">RoleId</th>
                        <th>Role</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="u : ${users}">
                        <td style="display:none;" th:text="${u.userId}"></td>
                        <td th:text="${u.userFirstname}"></td>
                        <td th:text="${u.userLastname}"></td>
                        <td th:text="${u.userEmail}"></td>
                        <td style="display:none;" th:text="${u.userPasswd}"></td>
                        <td th:text="${u.userActive}" ></td>
                        <!-- <td>
                        	<p th:if="${u.userActive == '0'}" th:text="No"></p>
                        	<p th:if="${u.userActive == '1'}"  th:text="Yes"></p>
                        </td> -->
                        
                        <td style="display:none;" th:text="${u.role.roleId}"></td>
                        <td th:text="${u.role.roleName}"></td>
                        
                        <td><button type="submit" class="edit btn btn-warning">Edit</button></td> 
                    </tr>
                    </tbody>
                    </table>
                    
          <button class="btn btn-primary btn-icon-split margin-top" onclick="showHideNewUserForm()">
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">Insert User</span>
          </button>
        </div>
        <!-- Update User Form -->
        <div class="col-5">
        <p style="text-align:center"><b >Update User</b></p> 
            <form action="/admin/updateUser" method="POST">
                <input type="hidden" name="userId" id="userId" value="">
                <label class="margin-top" for="userFirstname" >Firstname</label>
                <input class="form-control" type="text" name="userFirstname" id="userFirstname" placeholder="Firstname" value="" required/>
                <label class="margin-top" for="userLastname">Lastname</label>
                <input class="form-control" type="text" name="userLastname" id="userLastname" placeholder="Lastname" value="" required/>
                <label class="margin-top" for="userEmail">Email</label>
                <input class="form-control" type="email" name="userEmail" id="userEmail" placeholder="Email" value="" required/>
                <label class="margin-top" for="userPasswd">Password</label>
                <input class="form-control" type="password" name="userPasswd" id="userPasswd" placeholder="Password" value="" required/>
                
                <label class="margin-top" for="userActive">Active</label>
                <!-- <input class="form-control" type="text" name="userActive" id="userActive" placeholder="Active" value="" /> -->
                <select required class="form-control margin-top-select"  id="userActive" name="userActive" >
                 	<option disabled selected  value="">Active</option>
            		<option value="0">No</option>
            		<option value="1">Yes</option>
          		</select>
                
                <label class="margin-top" for="role">Role</label>
                 <select required class="form-control margin-top-select"  id="roleId2" name="roleId2" >
                 	<option disabled selected  value="" >Select Role</option>
                 	<option th:each="r : ${roles}" th:value="${r.roleId}" th:text="${r.roleName}" ></option>
          		</select><br>
  
                <button type="submit" class="update btn btn-success btn-icon-split margin-top">
                <span class="text">Update</span>
                </button>
              </form><br>

			<!-- Delete User form -->
            <form action="/admin/deleteUser" method="POST">
                <input type="hidden" name="userId2"  id="userId2" value="">
                <button type="submit" class="delete btn btn-danger btn-icon-split margin-top">
                  <span class="text">Delete</span> 
                </button>
              </form>
        </div>
      </div>

      <!-- Add new User form -->
      <div class="row" id="addNewForm" style="display: none;">
        <div class="col-5">
            <form action="/admin/saveUser" method="POST">
                <input type="hidden" name="userId" value="0">
                <label class="margin-top" for="userFirstname" >Firstname</label>
                <input class="form-control" type="text" name="userFirstname" id="firstname" placeholder="Firstname" value="" size="5" required/>
                <label class="margin-top" for="userLastname">Lastname</label>
                <input class="form-control" type="text" name="userLastname" id="lastname" placeholder="Lastname" value="" required/>
                <label class="margin-top" for="userEmail">Email</label>
                <input class="form-control" type="email" name="userEmail" id="email" placeholder="Email" value="" required/>
                <label class="margin-top" for="userPasswd">Password</label>
                <input class="form-control" type="password" name="userPasswd" id="password" placeholder="Password" value="" required/>
                
                <label class="margin-top" for="userActive">Active</label>
                <!-- <input class="form-control" type="text" name="userActive" id="active" placeholder="Active" value="" /> -->
                <select class="form-control margin-top-select"  id="userActive" name="userActive" required>
                 	<option disabled selected  value="">Active</option>
            		<option value="0">No</option>
            		<option value="1">Yes</option>
          		</select>
          		
                <label class="margin-top" for="role">Role</label>
                 <select required class="form-control margin-top-select"  id="roleId" name="roleId" >
                 	 <option disabled selected value="" >Select Role</option>
            		<option th:each="r : ${roles}" th:value="${r.roleId}" th:text="${r.roleName}" ></option>
          		</select>
                <button type="submit" class="btn btn-success btn-icon-split margin-top">
                   <span class="text">Save</span>
                </button>
              </form>
        </div>
      </div>
    
    </div>
  </div>
<script>
                       	$(document).on("click",".edit", function(){
								  var row = $(this);

								  var id = row.closest("tr").find("td:eq(0)").text();
								  $('#userId').val(id);
								  var id = row.closest("tr").find("td:eq(0)").text();
								  $('#userId2').val(id);
								  var firstname = row.closest("tr").find("td:eq(1)").text();
								  $('#userFirstname').val(firstname);
								  var lastname = row.closest("tr").find("td:eq(2)").text();
								  $('#userLastname').val(lastname);
								  var email = row.closest("tr").find("td:eq(3)").text();
								  $('#userEmail').val(email);
								  var password = row.closest("tr").find("td:eq(4)").text();
								  $('#userPasswd').val(password);
								  var active = row.closest("tr").find("td:eq(5)").text();
								  $('#userActive').val(active);
								  var role = row.closest("tr").find("td:eq(6)").text();
								  $('#roleId2').val(role);
								  
							  });



                        function showHideNewUserForm() {
                            let x = document.getElementById("addNewForm");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }
                        }


                        $(".update").click(function () {
                            var update = document.getElementById("userId").value;
                            if (update == "") {
                            	$("#myModalUpdate").modal();
                                return false;
                            }
                        });

                        $(".delete").click(function () {
                            var deleteUSer = document.getElementById("userId2").value;
                            if (deleteUSer == "") {
                            	$("#myModalDelete").modal();
                                return false;
                            }
                        });

                        
                       
                        </script>
                        <div th:insert="popup"></div>
 
</body>
</html>