<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="UGAL Map web application designed for 'Dunarea de Jos' of Galati"
    />
    <meta name="author" content="Crystal-System" />

    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>

    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/all.min.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/js/sb-admin.js}"></script>
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap-bundle/bootstrap.bundle.js}"></script>

    <title>UGAL Map</title>
  </head>
  <body id="page-top">

   <div th:insert="header"></div>
  
   <div th:insert="sidebarAdmin"></div>
  
      <div id="content-wrapper">
      </div>
        <!-- /.container-fluid -->
  
        <!-- Sticky Footer -->
       <!--  <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © UgalMap 2019</span>
            </div>
          </div>
        </footer> -->
  
      </div>
      <!-- /.content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
   <!--  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to leave.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
          </div>
        </div>
      </div>
    </div> 

    <script th:src="@{/js/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin.min.js}"></script> -->

  </body>
</html>
