<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="UGAL Map web application designed for 'Dunarea de Jos' of Galati"/>
    <meta name="author" content="Crystal-System" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>UGAL Map</title>
  </head>
	<body>
	<div th:insert="header"></div>
 	<div th:insert="sidebarEditor"></div>
		     <!-- see all Dictionary -->
			<div th:fragment="coordinates">
			  <!-- Page Heading -->
			  <!-- DataTales Example -->
			  <div class="card shadow mb-4" style="margin-left: 18%">
			    <div class="card-header py-3 card-header-bg">
			     <h5 class="m-0 font-weight-bold table-title">
					Dictionary
			     </h5>
			   </div>
			   <p style="color: red" th:if="${message}" th:text="${message}"></p>
			   <div class="card-body">
			     <div class="row">
			       <div class="col-8.8">
			       
			         <!-- Begin Table Dictionary List -->
					 <div class="row col-md-8.5 table-responsive">
					    <table id="coordinatesTable" class="table">
					      <thead>
					        <tr>
								<th style="display: none"> Dictionary Id </th>
								<th> Dictionary Translated </th>
								
								<th> Dictionary Value Type </th>
								<th style="display: none"> Dictionary Language id </th>
								<th> Dictionary Language </th>
								<th style="display: none"> Dictionary Label id </th>
								<th> Dictionary Label </th>
								<th style="display: none"> Dictionary Value id </th>
                                <th> Dictionary Value </th>
								<th>Edit</th>
					        </tr>
					      </thead>
					      <tbody>
					         <tr th:each="dictionaries : ${dictionaries}">
					              <td th:text="${dictionaries.dictionaryId}" style="display: none"></td>
								  <td th:text="${dictionaries.dictionaryTranslatedValue}"></td>
								  <td th:text="${dictionaries.dictionaryLabelValueType}"></td>
								  <td th:text="${dictionaries.language} ? ${dictionaries.language.languageId} : 'Empty !'" style="display: none"></td>
								  <td th:text="${dictionaries.language} ? ${dictionaries.language.languageName} : 'Empty !'"></td>
								  <td th:text="${dictionaries.label} ? ${dictionaries.label.labelId} : 'Empty !'" style="display: none"></td>
								  <td th:text="${dictionaries.label} ? ${dictionaries.label.labelName} : 'Empty !'"></td>
								  <td th:text="${dictionaries.value} ? ${dictionaries.value.valueId} : 'Empty !'" style="display: none"></td>
                                  <td th:text="${dictionaries.value} ? ${dictionaries.value.valueContent} : 'Empty !'"></td>
								  <td><button  class="edit btn btn-warning btn-icon-split margin-top">Edit</button></td>
					          </tr>
					      </tbody>
					    </table>
					  </div>
					  <!-- End Table Dictionary List -->
					  
					  <br>
                      <button class="btn btn-primary btn-icon-split margin-top" onclick="showHideNewDictionaryForm()">
                            <span class="icon text-white-50">
                              <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Insert Dictionary</span>
                      </button>
					  
					  <script>
						  //Get Dictionary
						  $(document).on("click",".edit", function(){
							  var row = $(this);

							  var id = row.closest("tr").find("td:eq(0)").text();
							  $('#dictionaryId').val(id);
							  $('#dictionaryId2').val(id);
							  var translated = row.closest("tr").find("td:eq(1)").text();
							  $('#dictionaryTranslatedValue').val(translated);
							  var valueType = row.closest("tr").find("td:eq(2)").text();
							  $('#dictionaryLabelValueType').val(valueType);
							  var language = row.closest("tr").find("td:eq(3)").text();
							  $('#languageId').val(language);
							  var label = row.closest("tr").find("td:eq(5)").text();
							  $('#labelId').val(label);
							  var value = row.closest("tr").find("td:eq(7)").text();
							  $('#valueId').val(value);
						  });
						  
						  $(document).on("click",".update",function () {
							  var update = document.getElementById("dictionaryId").value;
							  if (update == "") {
								  $("#myModalUpdate").modal();
								  return false;
							  }
						  });
						  $(document).on("click",".delete",function () {
							  var deleteEntity = document.getElementById("dictionaryId2").value;
							  if (deleteEntity == "") {
								  $("#myModalDelete").modal();
								  return false;
							  }
						  });
						  
						  //Animation newForm
                          function showHideNewDictionaryForm() {
                            let x = document.getElementById("addNewForm");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }
                        }
					  </script>
					  <!-- Save Dictionary -->
					   <div id="addNewForm" class="col-3" style="display:none">
							<form action="/dictionary/saveDictionary" method="POST">
							<br>
							  <label class="margin-top" for="dictionaryTranslatedValue">Dictionary Translated</label>
                              <input class="form-control" type="text" name="dictionaryTranslatedValue1" id="dictionaryTranslatedValue1" 
							   required placeholder="Translated Value" value="" />
							  
							  <label class="margin-top" for="dictionaryLabelValueType">Dictionary Value Type</label>
                              <input class="form-control" type="text" name="dictionaryLabelValueType1" id="dictionaryLabelValueType1"
							   required placeholder="Value Type" value="" />

                              <label class="margin-top" for="dictionaryTranslatedValue">Dictionary Language</label>
                              <select class="form-control margin-top-select" name="selectedLanguageId1" id="selectedLanguageId1" required>
                                    <option disabled selected value="" >Select Language</option>
                                    <option th:each="language : ${languages}" th:value="${language.languageId}"
                                    th:text="${language.languageName}"></option>
							   </select>
							   
							   <label class="margin-top" for="dictionaryTranslatedValue">Dictionary Label</label>
							   <select class="form-control margin-top-select" name="selectedLabelId1" id="selectedLabelId1" required>
							         <option disabled selected value="" >Select Label</option>
									 <option th:each="label : ${labels}" th:value="${label.labelId}"
									 th:text="${label.labelName}"></option>
								</select>

								<label class="margin-top" for="dictionaryTranslatedValue">Dictionary Value</label>
								<select class="form-control margin-top-select" name="selectedValueId1" id="selectedValueId1" required>
								      <option disabled selected value="" >Select Value</option>
									  <option th:each="value : ${values}" th:value="${value.valueId}"
									  th:text="${value.valueContent}"></option>
								 </select>
							  <br>
							  <button type="submit" class="btn btn-primary btn-icon-split margin-top">
							  <span class="icon text-white-50">
								 <i class="fas fa-check"></i>
							  </span>
							  <span class="text">Save</span>
						   </button>
					   </form>
				   </div>
			       	</div>
			       	<!-- Update Dictionary -->
				       <div class="col-3">
						 <form action="/dictionary/updateDictionary" method="POST">
							<input type="hidden" name="dictionaryId" id="dictionaryId" value="">
							<label class="margin-top" for="dictionaryTranslatedValue">Dictionary Translated</label>
							<input class="form-control" type="text" name="dictionaryTranslatedValue" id="dictionaryTranslatedValue" 
							  required placeholder="Translated Value" value="" />
							
							<label class="margin-top" for="dictionaryLabelValueType">Dictionary Value Type</label>
							<input class="form-control" type="text" name="dictionaryLabelValueType" id="dictionaryLabelValueType"
							  required placeholder="Value Type" value="" />

							<label class="margin-top" for="dictionaryTranslatedValue">Dictionary Language</label>
							<select class="form-control margin-top-select" name="languageId" id="languageId" required>
							      <option disabled selected value="" >Select Language</option>
								  <option th:each="language : ${languages}" th:value="${language.languageId}"
								  th:text="${language.languageName}"></option>
							 </select>
							 
							 <label class="margin-top" for="dictionaryTranslatedValue">Dictionary Label</label>
							 <select class="form-control margin-top-select" name="labelId" id="labelId" required >
							       <option disabled selected value="" >Select Label</option>
								   <option th:each="label : ${labels}" th:value="${label.labelId}"
								   th:text="${label.labelName}"></option>
							  </select>

							  <label class="margin-top" for="dictionaryTranslatedValue">Dictionary Value</label>
							  <select class="form-control margin-top-select" name="valueId" id="valueId" required >
							        <option disabled selected value="" >Select Value</option>
									<option th:each="value : ${values}" th:value="${value.valueId}"
									th:text="${value.valueContent}"></option>
							   </select>
							 <button class="update btn btn-success btn-icon-split margin-top" style="width:100px;margin-bottom: 12px;margin-top: 12px;" type="submit">
                             <span class="icon text-white-50">
				              <i class="fas fa-check"></i>
				           </span>
								 <span class="text">Update</span>
							 </button>
				    </form>

				    <!-- Delete Dictionary -->
				    	<form action="/dictionary/deleteDictionary" method="GET">
				           <input type="hidden" name="dictionaryId2" id="dictionaryId2" value="">

							<button class="delete btn btn-danger btn-icon-split margin-top" style="width:100px" type="submit">
                          <span class="icon text-white-50">
				              <i class="fas fa-times"></i>
				           </span>
								<span class="text">Delete</span>
							</button>
				    </form>
				</div>
			</div>
			<div th:insert="popup" ></div>
		</body>
	</html>
