<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="UGAL Map web application designed for 'Dunarea de Jos' of Galati"
    />
    <meta name="author" content="Crystal-System" />

    <title>UGAL Map</title>
  </head>
  <body>
    <h1>UGAL Map</h1>
    ...testing controller
  </body>
</html>
